html,body{
    height: 100vh;
}

.container{
    height: 100vh;
}

.footer{
    background-color: #2f2f2f;
    color: #ffffff;
}

.nav-bar{
    height: 70px;
}

.sidebar{
    height: 100vh;
}

.content{
    height: 100vh;
    padding: 10px;
}

.signup{
    list-style: none;
}