{% extends 'base.html' %}

{% block content %}
<div class="content">
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <p>Already have an account ?</p>
  <a href="{% url 'signup' %}">Signup</a>
</div>
{% endblock %}