
<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}<title>Social Network</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <div class="container-fluid">
      {% block header %} 
        <div class="row">
          <div class="col-sm-12">
            <div class="nav-bar">
              <nav class="navbar navbar-inverse navbar-fixed-top">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'home' %}">Social Network</a>
                  </div>
                  {% if user.is_authenticated %}
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Messages</a></li>
                    <li><a href="{%url 'logout'%}">Logout</a></li>
                  </ul>
                  {% endif %}

              </nav>
            </div>
        </div>
      {% endblock %}
    </div>
    <div class="row">
      <div class="col-sm-2">{% block sidebar %} {% endblock %}</div>
      <div class="col-sm-10">{% block content %} {% endblock %}</div>
    </div>
   {% block footer %}
          <div class="row">
      <div class="col-sm-12">
        <div class="footer">
          <center><p>The social Network</p></center>
        </div>
        
      </div>
    {% endblock %}

    </div>
  </div>
</body>

</html>

