{% extends 'base.html' %}

{% block sidebar %}
<div class="sidebar">
  <h2>Home</h2>
</div>
{% endblock sidebar %}


{% block content %}

<div class="content">
  <h2>Home</h2>
</div>

{% endblock content%}