{% extends 'base.html' %}


{% block content %}
<div class="container">
<div class="signup">
  <h2>Sign up</h2>
  <form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="{{form.first_name.id_for_label}}">First Name</label>
    <input type="text" name="{{form.first_name.html_name}}" class="form-control" placeholder="">
  </div>  
    <div class="form-group">
    <label for="{{form.last_name.id_for_label}}">Last Name</label>
    <input type="text" name="{{form.last_name.html_name}}" class="form-control" placeholder="">
  </div>  
    <div class="form-group">
    <label for="{{form.email.id_for_label}}">Email</label>
    <input type="email" name="{{form.email.html_name}}" class="form-control" placeholder="">
  </div>  
    <div class="form-group">
    <label for="{{form.password1.id_for_label}}">Password</label>
    <input type="password" name="{{form.password1.html_name}}" class="form-control" placeholder="">
  </div>  
    <div class="form-group">
    <label for="{{form.password2.id_for_label}}">Confirm Password</label>
    <input type="password" name="{{form.password2.html_name}}" class="form-control" placeholder="">
  </div>  

    <button type="submit" class="btn btn-primary mb-2">Sign up</button>
  </form>
</div>
</div>
{% endblock %}